<a href="https://colab.research.google.com/github/shcho11/03.IBM_AI_Engineering_2022/blob/main/introDL_finalC_20220815.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Deep Learning & Neural Networks with Keras - Final Assignment C

## C. Increate the number of epochs (5 marks)

<strong> Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B? </strong>

c.f) Part B : <br>

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

c.f) Part A : <br>
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [2]:
import pandas as pd
import numpy as np
import keras
from tensorflow.keras.models import Sequential
#from keras.models import Sequential
from keras.layers import Dense

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

### download the data and read it into a pandas dataframe.

In [3]:
concrete_data = pd.read_csv('/content/drive/MyDrive/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split & Normalize Dataset

In [7]:
from sklearn.model_selection import train_test_split

concrete_data_columns = concrete_data.columns
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
y = concrete_data['Strength']

In [8]:
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
x_norm = (x - x.mean()) / x.std()
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
n_cols = x_norm.shape[1]
n_cols

8

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size = 0.3, random_state = 42)

In [13]:
x_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
196,-0.827393,-0.856472,0.723653,-0.747734,0.216835,0.430603,1.650364,-0.279597
631,0.419421,-0.856472,-0.846733,0.113922,-1.038638,1.158540,0.117485,-0.612034
81,0.360094,1.606458,-0.846733,-1.211343,1.355131,-1.553862,1.332313,-0.675355
526,0.744760,-0.636257,1.356496,-1.290952,0.785983,-0.397651,0.341992,-0.675355
830,-1.140293,1.345678,1.465876,-0.120224,2.141895,-1.735203,-0.406362,-0.279597

In [14]:
y_train.head()

196    25.72
631    17.54
81     25.20
526    23.64
830    33.76
Name: Strength, dtype: float64

In [15]:
# define regression model
def reg_model1():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
#tf.compat.v1.get_default_graph

In [17]:
model = reg_model1()

In [18]:
# fit the model
model.fit(x_train, y_train, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
16/16 - 1s - loss: 1592.3331 - val_loss: 1468.1223 - 833ms/epoch - 52ms/step
Epoch 2/100
16/16 - 0s - loss: 1581.3848 - val_loss: 1457.7642 - 62ms/epoch - 4ms/step
Epoch 3/100
16/16 - 0s - loss: 1570.7820 - val_loss: 1447.0061 - 46ms/epoch - 3ms/step
Epoch 4/100
16/16 - 0s - loss: 1559.7527 - val_loss: 1436.1456 - 50ms/epoch - 3ms/step
Epoch 5/100
16/16 - 0s - loss: 1548.3506 - val_loss: 1424.9913 - 53ms/epoch - 3ms/step
Epoch 6/100
16/16 - 0s - loss: 1536.8243 - val_loss: 1413.2974 - 66ms/epoch - 4ms/step
Epoch 7/100
16/16 - 0s - loss: 1524.5497 - val_loss: 1401.1754 - 51ms/epoch - 3ms/step
Epoch 8/100
16/16 - 0s - loss: 1511.8254 - val_loss: 1388.3895 - 56ms/epoch - 3ms/step
Epoch 9/100
16/16 - 0s - loss: 1498.2847 - val_loss: 1375.0751 - 57ms/epoch - 4ms/step
Epoch 10/100
16/16 - 0s - loss: 1484.3650 - val_loss: 1360.8502 - 61ms/epoch - 4ms/step
Epoch 11/100
16/16 - 0s - loss: 1469.2112 - val_loss: 1346.3324 - 56ms/epoch - 4ms/step
Epoch 12/100
16/16 - 0s - loss: 1453.6096 - val_loss: 1330.8530 - 65ms/epoch - 4ms/step
Epoch 13/100
16/16 - 0s - loss: 1437.1578 - val_loss: 1314.5868 - 48ms/epoch - 3ms/step
Epoch 14/100
16/16 - 0s - loss: 1419.8168 - val_loss: 1297.7540 - 70ms/epoch - 4ms/step
Epoch 15/100
16/16 - 0s - loss: 1401.4221 - val_loss: 1280.2305 - 64ms/epoch - 4ms/step
Epoch 16/100
16/16 - 0s - loss: 1382.6550 - val_loss: 1261.4366 - 70ms/epoch - 4ms/step
Epoch 17/100
16/16 - 0s - loss: 1362.5234 - val_loss: 1242.4944 - 56ms/epoch - 4ms/step
Epoch 18/100
16/16 - 0s - loss: 1341.6825 - val_loss: 1222.9224 - 67ms/epoch - 4ms/step
Epoch 19/100
16/16 - 0s - loss: 1320.8304 - val_loss: 1201.8965 - 56ms/epoch - 4ms/step
Epoch 20/100
16/16 - 0s - loss: 1298.2655 - val_loss: 1180.6562 - 46ms/epoch - 3ms/step
Epoch 21/100
16/16 - 0s - loss: 1275.2993 - val_loss: 1159.1432 - 50ms/epoch - 3ms/step
Epoch 22/100
16/16 - 0s - loss: 1251.8922 - val_loss: 1136.9301 - 76ms/epoch - 5ms/step
Epoch 23/100
16/16 - 0s - loss: 1227.7909 - val_loss: 1113.9634 - 48ms/epoch - 3ms/step
Epoch 24/100
16/16 - 0s - loss: 1203.1390 - val_loss: 1090.4774 - 49ms/epoch - 3ms/step
Epoch 25/100
16/16 - 0s - loss: 1177.8856 - val_loss: 1066.8258 - 47ms/epoch - 3ms/step
Epoch 26/100
16/16 - 0s - loss: 1152.2216 - val_loss: 1043.2527 - 46ms/epoch - 3ms/step
Epoch 27/100
16/16 - 0s - loss: 1126.3840 - val_loss: 1018.9744 - 44ms/epoch - 3ms/step
Epoch 28/100
16/16 - 0s - loss: 1100.2496 - val_loss: 994.4619 - 50ms/epoch - 3ms/step
Epoch 29/100
16/16 - 0s - loss: 1073.9872 - val_loss: 969.5466 - 52ms/epoch - 3ms/step
Epoch 30/100
16/16 - 0s - loss: 1047.2271 - val_loss: 944.8060 - 61ms/epoch - 4ms/step
Epoch 31/100
16/16 - 0s - loss: 1020.4109 - val_loss: 920.2573 - 56ms/epoch - 4ms/step
Epoch 32/100
16/16 - 0s - loss: 993.9901 - val_loss: 895.3790 - 65ms/epoch - 4ms/step
Epoch 33/100
16/16 - 0s - loss: 967.1159 - val_loss: 870.4943 - 71ms/epoch - 4ms/step
Epoch 34/100
16/16 - 0s - loss: 940.1937 - val_loss: 845.9883 - 79ms/epoch - 5ms/step
Epoch 35/100
16/16 - 0s - loss: 913.6069 - val_loss: 821.7859 - 50ms/epoch - 3ms/step
Epoch 36/100
16/16 - 0s - loss: 887.0925 - val_loss: 797.6474 - 55ms/epoch - 3ms/step
Epoch 37/100
16/16 - 0s - loss: 861.2739 - val_loss: 773.2917 - 73ms/epoch - 5ms/step
Epoch 38/100
16/16 - 0s - loss: 835.2178 - val_loss: 749.6338 - 70ms/epoch - 4ms/step
Epoch 39/100
16/16 - 0s - loss: 809.1584 - val_loss: 726.4043 - 50ms/epoch - 3ms/step
Epoch 40/100
16/16 - 0s - loss: 783.7870 - val_loss: 703.6649 - 67ms/epoch - 4ms/step
Epoch 41/100
16/16 - 0s - loss: 758.6973 - val_loss: 681.3198 - 53ms/epoch - 3ms/step
Epoch 42/100
16/16 - 0s - loss: 734.8286 - val_loss: 658.6046 - 50ms/epoch - 3ms/step
Epoch 43/100
16/16 - 0s - loss: 710.3789 - val_loss: 636.8754 - 55ms/epoch - 3ms/step
Epoch 44/100
16/16 - 0s - loss: 686.5886 - val_loss: 616.0117 - 55ms/epoch - 3ms/step
Epoch 45/100
16/16 - 0s - loss: 664.1443 - val_loss: 594.8437 - 48ms/epoch - 3ms/step
Epoch 46/100
16/16 - 0s - loss: 641.0571 - val_loss: 575.2260 - 45ms/epoch - 3ms/step
Epoch 47/100
16/16 - 0s - loss: 619.4632 - val_loss: 555.4913 - 62ms/epoch - 4ms/step
Epoch 48/100
16/16 - 0s - loss: 598.4780 - val_loss: 536.1578 - 57ms/epoch - 4ms/step
Epoch 49/100
16/16 - 0s - loss: 577.7878 - val_loss: 517.4101 - 49ms/epoch - 3ms/step
Epoch 50/100
16/16 - 0s - loss: 557.6085 - val_loss: 499.8239 - 45ms/epoch - 3ms/step
Epoch 51/100
16/16 - 0s - loss: 538.9771 - val_loss: 482.0243 - 47ms/epoch - 3ms/step
Epoch 52/100
16/16 - 0s - loss: 519.9644 - val_loss: 465.4954 - 61ms/epoch - 4ms/step
Epoch 53/100
16/16 - 0s - loss: 502.2294 - val_loss: 449.3120 - 67ms/epoch - 4ms/step
Epoch 54/100
16/16 - 0s - loss: 484.9487 - val_loss: 433.9208 - 70ms/epoch - 4ms/step
Epoch 55/100
16/16 - 0s - loss: 468.2751 - val_loss: 419.2602 - 68ms/epoch - 4ms/step
Epoch 56/100
16/16 - 0s - loss: 452.7572 - val_loss: 404.5747 - 55ms/epoch - 3ms/step
Epoch 57/100
16/16 - 0s - loss: 437.2625 - val_loss: 390.8674 - 56ms/epoch - 3ms/step
Epoch 58/100
16/16 - 0s - loss: 422.6668 - val_loss: 377.8391 - 65ms/epoch - 4ms/step
Epoch 59/100
16/16 - 0s - loss: 409.1044 - val_loss: 364.8352 - 54ms/epoch - 3ms/step
Epoch 60/100
16/16 - 0s - loss: 395.6590 - val_loss: 352.8059 - 48ms/epoch - 3ms/step
Epoch 61/100
16/16 - 0s - loss: 383.2278 - val_loss: 341.1973 - 61ms/epoch - 4ms/step
Epoch 62/100
16/16 - 0s - loss: 371.0306 - val_loss: 330.4662 - 52ms/epoch - 3ms/step
Epoch 63/100
16/16 - 0s - loss: 359.6859 - val_loss: 319.9401 - 60ms/epoch - 4ms/step
Epoch 64/100
16/16 - 0s - loss: 348.8307 - val_loss: 309.8296 - 55ms/epoch - 3ms/step
Epoch 65/100
16/16 - 0s - loss: 338.4382 - val_loss: 300.4222 - 48ms/epoch - 3ms/step
Epoch 66/100
16/16 - 0s - loss: 328.7599 - val_loss: 291.3389 - 60ms/epoch - 4ms/step
Epoch 67/100
16/16 - 0s - loss: 319.6346 - val_loss: 282.5781 - 53ms/epoch - 3ms/step
Epoch 68/100
16/16 - 0s - loss: 310.5870 - val_loss: 274.8201 - 63ms/epoch - 4ms/step
Epoch 69/100
16/16 - 0s - loss: 302.5983 - val_loss: 267.1202 - 57ms/epoch - 4ms/step
Epoch 70/100
16/16 - 0s - loss: 294.8288 - val_loss: 260.0422 - 50ms/epoch - 3ms/step
Epoch 71/100
16/16 - 0s - loss: 287.6310 - val_loss: 253.0299 - 79ms/epoch - 5ms/step
Epoch 72/100
16/16 - 0s - loss: 280.7049 - val_loss: 246.5890 - 54ms/epoch - 3ms/step
Epoch 73/100
16/16 - 0s - loss: 273.9633 - val_loss: 240.6826 - 61ms/epoch - 4ms/step
Epoch 74/100
16/16 - 0s - loss: 268.0565 - val_loss: 234.7617 - 58ms/epoch - 4ms/step
Epoch 75/100
16/16 - 0s - loss: 262.0412 - val_loss: 229.5180 - 48ms/epoch - 3ms/step
Epoch 76/100
16/16 - 0s - loss: 256.6796 - val_loss: 224.4796 - 54ms/epoch - 3ms/step
Epoch 77/100
16/16 - 0s - loss: 251.5267 - val_loss: 219.5750 - 55ms/epoch - 3ms/step
Epoch 78/100
16/16 - 0s - loss: 246.6199 - val_loss: 214.9339 - 52ms/epoch - 3ms/step
Epoch 79/100
16/16 - 0s - loss: 241.7732 - val_loss: 210.9570 - 53ms/epoch - 3ms/step
Epoch 80/100
16/16 - 0s - loss: 237.6231 - val_loss: 206.7959 - 47ms/epoch - 3ms/step
Epoch 81/100
16/16 - 0s - loss: 233.3707 - val_loss: 202.9406 - 53ms/epoch - 3ms/step
Epoch 82/100
16/16 - 0s - loss: 229.4252 - val_loss: 199.3441 - 46ms/epoch - 3ms/step
Epoch 83/100
16/16 - 0s - loss: 225.6764 - val_loss: 196.0293 - 45ms/epoch - 3ms/step
Epoch 84/100
16/16 - 0s - loss: 222.2293 - val_loss: 192.7265 - 60ms/epoch - 4ms/step
Epoch 85/100
16/16 - 0s - loss: 218.9063 - val_loss: 189.7723 - 49ms/epoch - 3ms/step
Epoch 86/100
16/16 - 0s - loss: 215.7125 - val_loss: 186.8746 - 50ms/epoch - 3ms/step
Epoch 87/100
16/16 - 0s - loss: 212.7172 - val_loss: 184.3005 - 52ms/epoch - 3ms/step
Epoch 88/100
16/16 - 0s - loss: 209.8714 - val_loss: 181.7761 - 51ms/epoch - 3ms/step
Epoch 89/100
16/16 - 0s - loss: 207.1879 - val_loss: 179.2432 - 78ms/epoch - 5ms/step
Epoch 90/100
16/16 - 0s - loss: 204.6590 - val_loss: 177.0160 - 60ms/epoch - 4ms/step
Epoch 91/100
16/16 - 0s - loss: 202.0985 - val_loss: 174.9005 - 63ms/epoch - 4ms/step
Epoch 92/100
16/16 - 0s - loss: 199.6759 - val_loss: 172.9291 - 58ms/epoch - 4ms/step
Epoch 93/100
16/16 - 0s - loss: 197.4781 - val_loss: 171.1503 - 58ms/epoch - 4ms/step
Epoch 94/100
16/16 - 0s - loss: 195.4379 - val_loss: 169.1306 - 72ms/epoch - 4ms/step
Epoch 95/100
16/16 - 0s - loss: 193.3048 - val_loss: 167.3876 - 50ms/epoch - 3ms/step
Epoch 96/100
16/16 - 0s - loss: 191.3660 - val_loss: 165.8489 - 50ms/epoch - 3ms/step
Epoch 97/100
16/16 - 0s - loss: 189.5230 - val_loss: 164.2969 - 58ms/epoch - 4ms/step
Epoch 98/100
16/16 - 0s - loss: 187.7262 - val_loss: 162.6529 - 49ms/epoch - 3ms/step
Epoch 99/100
16/16 - 0s - loss: 185.9253 - val_loss: 161.3277 - 51ms/epoch - 3ms/step
Epoch 100/100
16/16 - 0s - loss: 184.2376 - val_loss: 160.0458 - 51ms/epoch - 3ms/step

In [19]:
# Evaluate the model on the test data using 'evaluate'
print("Evaluate on test data")
results = model.evaluate(x_test, y_test)
print("test loss : ", results)

y_pred = model.predict(x_test)
print("prediction shape:", y_pred.shape)

Evaluate on test data
10/10 [==============================] - 0s 2ms/step - loss: 177.8574
test loss :  177.85739135742188
prediction shape: (309, 1)

In [20]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
sd_mse = np.std(mse)
print(mse, sd_mse)

177.85737913058708 0.0

In [22]:
times = 50 # Repeat times unchanged 
epochs = 100 # epochs changed from 50 to 100
mse_list = []

for i in range(1, times+1) : 
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
  model.fit(x_train, y_train, validation_split=0.3, epochs=epochs, verbose=0)
  results = model.evaluate(x_test, y_test, verbose=0)
  print("MSE {} : {}".format(i,results))
  y_pred = model.predict(x_test)
  mse = mean_squared_error(y_test, y_pred)
  mse_list.append(mse)

mse_list = np.array(mse_list)
mean_mse_list = np.mean(mse_list)
sd_mse_list = np.std(mse_list)

print("\n")
print("Results(Question C : With Normalization and 100 epochs) :", "\n")
print("Mean of 50 MSEs: {}".format(mean_mse_list))
print("Standard deviation of 50 MSEs : {}".format(sd_mse_list))

MSE 1 : 107.1209945678711
MSE 2 : 110.63912963867188
MSE 3 : 110.8117446899414
MSE 4 : 107.65727233886719
MSE 5 : 107.37976837158203
MSE 6 : 108.60891723632812
MSE 7 : 107.16290283203125
MSE 8 : 111.0350570678711
MSE 9 : 108.36941528320312
MSE 10 : 110.12043762207031
MSE 11 : 107.53321838378906
MSE 12 : 146.00900268554688
MSE 13 : 108.37545776367188
MSE 14 : 111.2722396850586
MSE 15 : 110.80445861816406
MSE 16 : 108.97250366210938
MSE 17 : 107.21315002441406
MSE 18 : 108.7566909790039
MSE 19 : 108.53744506835938
MSE 20 : 120.40569305419922
MSE 21 : 108.20556640625
MSE 22 : 111.62059020996094
MSE 23 : 107.03804016113281
MSE 24 : 112.82454681396484
MSE 25 : 107.71601867675781
MSE 26 : 108.45433807373047
MSE 27 : 109.7642593383789
MSE 28 : 108.50321197509766
MSE 29 : 107.7300796508789
MSE 30 : 108.01810455322266
MSE 31 : 107.52967071533203
MSE 32 : 116.67469787597656
MSE 33 : 108.69062042236328
MSE 34 : 107.58488464355469
MSE 35 : 110.45195007324219
MSE 36 : 131.0035858154297
MSE 37 : 110.16231536865234
MSE 38 : 108.17930603027344
MSE 39 : 107.74322509765625
MSE 40 : 108.86170196533203
MSE 41 : 108.56796264648438
MSE 42 : 113.52332305908203
MSE 43 : 109.86576843261719
MSE 44 : 107.85572052001953
MSE 45 : 109.3596420288086
MSE 46 : 108.73751068115234
MSE 47 : 107.38948822021484
MSE 48 : 107.47203826904297
MSE 49 : 110.85098266601562
MSE 50 : 115.70958709716797


Results(Question C : With Normalization and 100 epochs) :

Mean of 50 MSEs: 110.65748645922878
Standard deviation of 50 MSEs : 6.419854997262845