<a href="https://colab.research.google.com/github/shcho11/03.IBM_AI_Engineering_2022/blob/main/introDL_finalB_20220815.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to Deep Learning & Neural Networks with Keras - Final Assignment B

### B. Normalize the data (5 marks) 

<strong>Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?</strong>

c.f) Part A : <br>
Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [2]:
import pandas as pd
import numpy as np
import keras
from tensorflow.keras.models import Sequential
#from keras.models import Sequential
from keras.layers import Dense

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

### download the data and read it into a pandas dataframe.

In [3]:
concrete_data = pd.read_csv('/content/drive/MyDrive/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split & Normalize Dataset

In [7]:
from sklearn.model_selection import train_test_split

concrete_data_columns = concrete_data.columns
x = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
y = concrete_data['Strength']

In [8]:
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
x_norm = (x - x.mean()) / x.std()
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
n_cols = x_norm.shape[1]
n_cols

8

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size = 0.3, random_state = 42)

In [13]:
x_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
196,-0.827393,-0.856472,0.723653,-0.747734,0.216835,0.430603,1.650364,-0.279597
631,0.419421,-0.856472,-0.846733,0.113922,-1.038638,1.158540,0.117485,-0.612034
81,0.360094,1.606458,-0.846733,-1.211343,1.355131,-1.553862,1.332313,-0.675355
526,0.744760,-0.636257,1.356496,-1.290952,0.785983,-0.397651,0.341992,-0.675355
830,-1.140293,1.345678,1.465876,-0.120224,2.141895,-1.735203,-0.406362,-0.279597

In [14]:
y_train.head()

196    25.72
631    17.54
81     25.20
526    23.64
830    33.76
Name: Strength, dtype: float64

In [15]:
# define regression model
def reg_model1():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
#tf.compat.v1.get_default_graph

In [17]:
model = reg_model1()

In [18]:
# fit the model
model.fit(x_train, y_train, validation_split=0.3, epochs=50, verbose=2)

Epoch 1/50
16/16 - 1s - loss: 1609.1180 - val_loss: 1481.2756 - 832ms/epoch - 52ms/step
Epoch 2/50
16/16 - 0s - loss: 1597.1688 - val_loss: 1469.7534 - 57ms/epoch - 4ms/step
Epoch 3/50
16/16 - 0s - loss: 1584.8889 - val_loss: 1458.0499 - 57ms/epoch - 4ms/step
Epoch 4/50
16/16 - 0s - loss: 1572.3673 - val_loss: 1446.1515 - 63ms/epoch - 4ms/step
Epoch 5/50
16/16 - 0s - loss: 1559.4302 - val_loss: 1433.9783 - 73ms/epoch - 5ms/step
Epoch 6/50
16/16 - 0s - loss: 1546.1425 - val_loss: 1421.5354 - 67ms/epoch - 4ms/step
Epoch 7/50
16/16 - 0s - loss: 1532.5626 - val_loss: 1408.7150 - 74ms/epoch - 5ms/step
Epoch 8/50
16/16 - 0s - loss: 1518.4191 - val_loss: 1395.6425 - 58ms/epoch - 4ms/step
Epoch 9/50
16/16 - 0s - loss: 1504.2687 - val_loss: 1381.9080 - 69ms/epoch - 4ms/step
Epoch 10/50
16/16 - 0s - loss: 1489.4415 - val_loss: 1367.7643 - 68ms/epoch - 4ms/step
Epoch 11/50
16/16 - 0s - loss: 1474.1084 - val_loss: 1353.4191 - 57ms/epoch - 4ms/step
Epoch 12/50
16/16 - 0s - loss: 1458.3909 - val_loss: 1338.6115 - 55ms/epoch - 3ms/step
Epoch 13/50
16/16 - 0s - loss: 1442.2327 - val_loss: 1323.4312 - 52ms/epoch - 3ms/step
Epoch 14/50
16/16 - 0s - loss: 1425.5511 - val_loss: 1307.6533 - 71ms/epoch - 4ms/step
Epoch 15/50
16/16 - 0s - loss: 1408.5800 - val_loss: 1291.1982 - 58ms/epoch - 4ms/step
Epoch 16/50
16/16 - 0s - loss: 1390.7311 - val_loss: 1274.7166 - 75ms/epoch - 5ms/step
Epoch 17/50
16/16 - 0s - loss: 1372.4896 - val_loss: 1257.7048 - 66ms/epoch - 4ms/step
Epoch 18/50
16/16 - 0s - loss: 1353.7284 - val_loss: 1240.3927 - 66ms/epoch - 4ms/step
Epoch 19/50
16/16 - 0s - loss: 1334.6438 - val_loss: 1222.4762 - 67ms/epoch - 4ms/step
Epoch 20/50
16/16 - 0s - loss: 1315.1979 - val_loss: 1204.1451 - 53ms/epoch - 3ms/step
Epoch 21/50
16/16 - 0s - loss: 1294.8628 - val_loss: 1185.6686 - 55ms/epoch - 3ms/step
Epoch 22/50
16/16 - 0s - loss: 1274.6801 - val_loss: 1166.6428 - 72ms/epoch - 4ms/step
Epoch 23/50
16/16 - 0s - loss: 1253.6267 - val_loss: 1147.3971 - 67ms/epoch - 4ms/step
Epoch 24/50
16/16 - 0s - loss: 1232.3093 - val_loss: 1127.8811 - 56ms/epoch - 3ms/step
Epoch 25/50
16/16 - 0s - loss: 1211.0780 - val_loss: 1107.6217 - 57ms/epoch - 4ms/step
Epoch 26/50
16/16 - 0s - loss: 1188.6134 - val_loss: 1087.7469 - 55ms/epoch - 3ms/step
Epoch 27/50
16/16 - 0s - loss: 1166.6586 - val_loss: 1067.2725 - 58ms/epoch - 4ms/step
Epoch 28/50
16/16 - 0s - loss: 1143.9324 - val_loss: 1046.9371 - 62ms/epoch - 4ms/step
Epoch 29/50
16/16 - 0s - loss: 1121.2378 - val_loss: 1026.2397 - 52ms/epoch - 3ms/step
Epoch 30/50
16/16 - 0s - loss: 1098.1057 - val_loss: 1005.4987 - 45ms/epoch - 3ms/step
Epoch 31/50
16/16 - 0s - loss: 1075.1340 - val_loss: 984.5034 - 60ms/epoch - 4ms/step
Epoch 32/50
16/16 - 0s - loss: 1051.8055 - val_loss: 963.6957 - 64ms/epoch - 4ms/step
Epoch 33/50
16/16 - 0s - loss: 1028.8348 - val_loss: 942.4998 - 65ms/epoch - 4ms/step
Epoch 34/50
16/16 - 0s - loss: 1005.4054 - val_loss: 921.5650 - 61ms/epoch - 4ms/step
Epoch 35/50
16/16 - 0s - loss: 982.2173 - val_loss: 900.8049 - 68ms/epoch - 4ms/step
Epoch 36/50
16/16 - 0s - loss: 959.1116 - val_loss: 879.9462 - 51ms/epoch - 3ms/step
Epoch 37/50
16/16 - 0s - loss: 935.9803 - val_loss: 859.1342 - 60ms/epoch - 4ms/step
Epoch 38/50
16/16 - 0s - loss: 913.1566 - val_loss: 838.4176 - 51ms/epoch - 3ms/step
Epoch 39/50
16/16 - 0s - loss: 890.2612 - val_loss: 817.9382 - 62ms/epoch - 4ms/step
Epoch 40/50
16/16 - 0s - loss: 867.6134 - val_loss: 797.4120 - 62ms/epoch - 4ms/step
Epoch 41/50
16/16 - 0s - loss: 845.2719 - val_loss: 776.9445 - 66ms/epoch - 4ms/step
Epoch 42/50
16/16 - 0s - loss: 822.6865 - val_loss: 756.8035 - 70ms/epoch - 4ms/step
Epoch 43/50
16/16 - 0s - loss: 800.8864 - val_loss: 736.7562 - 69ms/epoch - 4ms/step
Epoch 44/50
16/16 - 0s - loss: 779.1500 - val_loss: 717.1920 - 57ms/epoch - 4ms/step
Epoch 45/50
16/16 - 0s - loss: 757.5212 - val_loss: 698.2261 - 54ms/epoch - 3ms/step
Epoch 46/50
16/16 - 0s - loss: 737.0784 - val_loss: 678.8708 - 55ms/epoch - 3ms/step
Epoch 47/50
16/16 - 0s - loss: 716.2112 - val_loss: 659.9108 - 55ms/epoch - 3ms/step
Epoch 48/50
16/16 - 0s - loss: 695.9200 - val_loss: 641.4323 - 66ms/epoch - 4ms/step
Epoch 49/50
16/16 - 0s - loss: 675.7103 - val_loss: 623.5148 - 63ms/epoch - 4ms/step
Epoch 50/50
16/16 - 0s - loss: 656.7302 - val_loss: 605.3746 - 75ms/epoch - 5ms/step

In [19]:
# Evaluate the model on the test data using 'evaluate'
print("Evaluate on test data")
results = model.evaluate(x_test, y_test)
print("test loss : ", results)

y_pred = model.predict(x_test)
print("prediction shape:", y_pred.shape)

Evaluate on test data
10/10 [==============================] - 0s 2ms/step - loss: 618.8519
test loss :  618.8518676757812
prediction shape: (309, 1)

In [20]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
sd_mse = np.std(mse)
print(mse, sd_mse)

618.8518375720544 0.0

In [23]:
times = 50
epochs = 50
mse_list = []

for i in range(1, times+1) : 
  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
  model.fit(x_train, y_train, validation_split=0.3, epochs=epochs, verbose=0)
  results = model.evaluate(x_test, y_test, verbose=0)
  print("MSE {} : {}".format(i,results))
  y_pred = model.predict(x_test)
  mse = mean_squared_error(y_test, y_pred)
  mse_list.append(mse)

mse_list = np.array(mse_list)
mean_mse_list = np.mean(mse_list)
sd_mse_list = np.std(mse_list)

print("\n")
print("Results(Question B : With Normalization) :", "\n")
print("Mean of 50 MSEs: {}".format(mean_mse_list))
print("Standard deviation of 50 MSEs : {}".format(sd_mse_list))

MSE 1 : 46.58932113647461
MSE 2 : 46.16681671142578
MSE 3 : 49.27313232421875
MSE 4 : 45.33491897583008
MSE 5 : 45.378700256347656
MSE 6 : 50.272953033447266
MSE 7 : 46.31303787231445
MSE 8 : 46.441673278808594
MSE 9 : 45.66545486450195
MSE 10 : 48.060428619384766
MSE 11 : 46.973541259765625
MSE 12 : 46.6010856628418
MSE 13 : 46.28984832763672
MSE 14 : 45.743629455566406
MSE 15 : 45.97606658935547
MSE 16 : 45.522193908691406
MSE 17 : 45.4470329284668
MSE 18 : 47.18061828613281
MSE 19 : 49.584102630615234
MSE 20 : 50.66083526611328
MSE 21 : 46.84999465942383
MSE 22 : 47.3548698425293
MSE 23 : 45.75865173339844
MSE 24 : 46.36125946044922
MSE 25 : 45.386531829833984
MSE 26 : 49.89542770385742
MSE 27 : 46.013160705566406
MSE 28 : 45.525657653808594
MSE 29 : 48.01138687133789
MSE 30 : 45.67130661010742
MSE 31 : 45.472896575927734
MSE 32 : 49.687679290771484
MSE 33 : 49.288883209228516
MSE 34 : 46.99720764160156
MSE 35 : 45.59345626831055
MSE 36 : 45.51233673095703
MSE 37 : 48.99835205078125
MSE 38 : 49.009559631347656
MSE 39 : 52.02003479003906
MSE 40 : 46.755157470703125
MSE 41 : 46.40028762817383
MSE 42 : 45.970489501953125
MSE 43 : 51.0578498840332
MSE 44 : 60.12557601928711
MSE 45 : 45.49984359741211
MSE 46 : 45.481266021728516
MSE 47 : 49.96168518066406
MSE 48 : 47.02434539794922
MSE 49 : 46.59541702270508
MSE 50 : 45.6014518737793


Results(Question B : With Normalization) :

Mean of 50 MSEs: 47.38714969955401
Standard deviation of 50 MSEs : 2.542640220684715